# SPDX-FileCopyrightText: Copyright 2025 Carabiner Systems, Inc
# SPDX-License-Identifier: Apache-2.0

name: Check Copyright Boilerplates

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  check:
    name: Boilerplate Check
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        extension:
        - go
        - sh
        - yaml
        - yml
        - html
        - css
        include:
        - extension: go
          language: Go
        - extension: sh
          language: Bash
        - extension: yaml
          language: YAML
        - extension: yml
          language: YAML
        - extension: proto
          language: protobuf

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/boilerplate@7d647f470c4d3692286221bd17ca78206976a61c # v1.5.11
        with:
          boilerplate-directory: "./hack/boilerplates"
          extension: ${{ matrix.extension }}
          language: ${{ matrix.language }}
