# SPDX-FileCopyrightText: Copyright 2025 Carabiner Systems, Inc
# SPDX-License-Identifier: Apache-2.0

name: go-tests

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

permissions: {}

jobs:
  conformance:
    name: Conformance Tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
        repository: "carabiner-dev/conformance"
        path: ./conformance

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.24'
        check-latest: true
        cache: true

    - id: run-conformance-tests
      run: |
        ./conformance/run-tests.sh
        
  go-tests:
    runs-on: ubuntu-latest
    name: Go Tests

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: '1.24'
        check-latest: true
        cache: true

    - name: Test
      run: |
        go get -d ./...
        go test -v ./...
